# Spotify 2024 Data Analysis

This dataset was taken from Kaggle and describes the most streamed Spotify songs from 2024. The dataset and relevant documentation can be found at the following link: (

In [3]:
import pandas as pd
import numpy
import os

file_path = "C:/Users/AVILA/Desktop"

In [4]:
df = pd.read_csv(file_path + "/Most Streamed Spotify Songs 2024.csv", encoding_errors = "replace")

In [5]:
df

,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,"390,470,936","30,716","196,631,588",...,684,62.0,"17,598,718",114.0,"18,004,655","22,931","4,818,457","2,669,262",NaN,0
1,Not Like Us,Not Like Us,Kendrick Lamar,5/4/2024,USUG12400910,2,545.9,"323,703,884","28,113","174,597,137",...,3,67.0,"10,422,430",111.0,"7,780,028","28,444","6,623,075","1,118,279",NaN,1
2,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,"601,309,283","54,331","211,607,669",...,536,136.0,"36,321,847",172.0,"5,022,621","5,639","7,208,651","5,285,340",NaN,0
3,Flowers,Flowers - Single,Miley Cyrus,1/12/2023,USSM12209777,4,444.9,"2,031,280,633","269,802","136,569,078",...,"2,182",264.0,"24,684,248",210.0,"190,260,277","203,384",NaN,"11,822,942",NaN,0
4,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,"107,034,922","7,223","151,469,874",...,1,82.0,"17,660,624",105.0,"4,493,884","7,006","207,179","457,017",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4595,For the Last Time,For the Last Time,$uicideboy$,9/5/2017,QM8DG1703420,"4,585",19.4,"305,049,963","65,770","5,103,054",...,NaN,2.0,"14,217",NaN,"20,104,066","13,184","50,633,006","656,337",NaN,1
4596,Dil Meri Na Sune,"Dil Meri Na Sune (From ""Genius"")",Atif Aslam,7/27/2018,INT101800122,"4,575",19.4,"52,282,360","4,602","1,449,767",...,NaN,1.0,927,NaN,NaN,NaN,NaN,"193,590",NaN,0
4597,Grace (feat. 42 Dugg),My Turn,Lil Baby,2/28/2020,USUG12000043,"4,571",19.4,"189,972,685","72,066","6,704,802",...,NaN,1.0,74,6.0,"84,426,740","28,999",NaN,"1,135,998",NaN,1
4598,Nashe Si Chadh Gayi,November Top 10 Songs,Arijit Singh,11/8/2016,INY091600067,"4,591",19.4,"145,467,020","14,037","7,387,064",...,NaN,NaN,NaN,7.0,"6,817,840",NaN,NaN,"448,292",NaN,0
4599,Me Acostumbre (feat. Bad Bunny),Me Acostumbre (feat. Bad Bunny),Arc��,4/11/2017,USB271700107,"4,593",19.4,"255,740,653","32,138","14,066,526",...,NaN,4.0,"127,479",4.0,"69,006,739","11,320",NaN,"767,006",NaN,1

# Data Pre-Analysis + Cleaning

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Track                       4600 non-null   object
 1   Album Name                  4600 non-null   object
 2   Artist                      4595 non-null   object
 3   Release Date                4600 non-null   object
 4   ISRC                        4600 non-null   object
 5   All Time Rank               4600 non-null   object
 6   Track Score                 4600 non-null   float64
 7   Spotify Streams             4487 non-null   object
 8   Spotify Playlist Count      4530 non-null   object
 9   Spotify Playlist Reach      4528 non-null   object
 10  Spotify Popularity          3796 non-null   float64
 11  YouTube Views               4292 non-null   object
 12  YouTube Likes               4285 non-null   object
 13  TikTok Posts                3427 non-null   object
 14  TikTok Likes                3620 non-null   object
 15  TikTok Views                3619 non-null   object
 16  YouTube Playlist Reach      3591 non-null   object
 17  Apple Music Playlist Count  4039 non-null   float64
 18  AirPlay Spins               4102 non-null   object
 19  SiriusXM Spins              2477 non-null   object
 20  Deezer Playlist Count       3679 non-null   float64
 21  Deezer Playlist Reach       3672 non-null   object
 22  Amazon Playlist Count       3545 non-null   float64
 23  Pandora Streams             3494 non-null   object
 24  Pandora Track Stations      3332 non-null   object
 25  Soundcloud Streams          1267 non-null   object
 26  Shazam Counts               4023 non-null   object
 27  TIDAL Popularity            0 non-null      float64
 28  Explicit Track              4600 non-null   float64
dtypes: float64(7), object(22)
memory usage: 1.0+ MB

In [26]:
df.loc[:, "All Time Rank" : "Explicit Track"] = df.iloc[:, 5:30].replace(",", "", regex = True)

In [16]:
df.loc[:, "All Time Rank" : "Explicit Track"].head()

,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,TikTok Likes,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,1,725.4,390470936,30716,196631588,92.0,84274754,1713126,5767700,651565900,...,684,62.0,17598718,114.0,18004655,22931,4818457,2669262,NaN,0
1,2,545.9,323703884,28113,174597137,92.0,116347040,3486739,674700,35223547,...,3,67.0,10422430,111.0,7780028,28444,6623075,1118279,NaN,1
2,3,538.4,601309283,54331,211607669,92.0,122599116,2228730,3025400,275154237,...,536,136.0,36321847,172.0,5022621,5639,7208651,5285340,NaN,0
3,4,444.9,2031280633,269802,136569078,85.0,1096100899,10629796,7189811,1078757968,...,2182,264.0,24684248,210.0,190260277,203384,NaN,11822942,NaN,0
4,5,423.3,107034922,7223,151469874,88.0,77373957,3670188,16400,NaN,...,1,82.0,17660624,105.0,4493884,7006,207179,457017,NaN,1

In [24]:
for i in range(5,30):
    df.iloc[:, i] = df.iloc[:, i].astype(int64, errors = "ignore")

NameError: name 'int64' is not defined

# Analysis Plan
After loading the dataset into JupyterLabs, I now want to identify an analysis plan. The primary questions that I want to analyze this dataset for are...
1. Are there any major discrepancies in terms of the number of plays of a song and when the song is released?
2. Are songs popular across all platforms evenly? Are there songs that have a high play rate on some platforms over other platforms?
3. On average, are explicit songs more popular than clean songs?

# 1. Determining major discrepancies in number of plays and song release date.

In [ ]:
df.columns

In [ ]:
df['Total Streams'] = df["Spotify Streams"] + df["YouTube Views"] + df["TikTok Views"] + df["AirPlay Spins"] + df["SiriusXM Spins"]+ df["Pandora Streams"] + df["Soundcloud Streams"]
df["Total Streams"].head()

In [ ]:
first_quartile = df[df["Track Score"] < 23.3]
second_quartile = df[(df["Track Score"] > 23.3) & (df["Track Score"] < 29.9)]
third_quartile = df[(df["Track Score"] > 29.9) & (df["Track Score"] < 44.425)]
fourth_quartile = df[df["Track Score"] > 44.425]

In [4]:
print("testing testing testing")

testing testing testing